:root {
  font-family: 'Segoe UI', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #011526;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #011526;
  color: white;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer 10+ */

}
body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 
   background-color: #011526;
}

a {
  color: #00aaff;
  text-decoration: none;
}
a:hover {
  color: #0099dd;
}

